<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Le pain</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="dist/main.js"></script>
    </head>
    <body>
        Bonjour, si votre console vous retourne "Mais nan !" le projet est prêt.......... à démarrer !!!!
    </body>
</html>